<app-search-form (dataTours)="getToursData()" (isLoadingData)="startLoader($event)"></app-search-form>
<app-loader [loading]="isLoading"></app-loader>
<div class="list-cards">
  <div class="card" *ngFor="let item of paginateData">
    <app-card-tour [cardTour]="item"></app-card-tour>
  </div>
</div>
<mat-paginator
  (page)="handlePageChange($event)"
  [length]="pageLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>
